

* {
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
  padding: 20px;
  background: rgb(34, 33, 33);
}
.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(231, 229, 229);
  font-size: 20px;
  font-family: "Comfortaa", cursive;
}
.navbar a:hover {
  font-weight: bold;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about img {
  width: 250px;
  margin: 25px 0;
}
.about h1 {
  font-family: "Comfortaa", cursive;
  font-size: 40px;
  margin-bottom: 10px;
  color: #2271b6;
}
.about p {
  text-align: center;
  font-family: "Comfortaa", cursive;
  color: #2271b6;
  font-size: 30px;
}

.todo_wrapper{
    text-align: -webkit-center;
}
.todo_btn{
    margin: 25px 0;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Comfortaa", cursive;
}
.todo_btn:hover{
    background: #6eaee6;
}
.todo_wrapper h1{
    font-size: 45px;
    margin-top: 25px;
    font-family: "Comfortaa", cursive;
}
.todo_wrapper input{
    padding: 5px;
    font-size: 15px;
    margin-top: 25px;
    font-family: "Comfortaa", cursive;
    border-radius: 5px;
}
.todo_list_container{
    width: 50%;
    display: flex;
    justify-content: center;
}
.todo{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    margin-top: 25px;
    place-items: center;
}
.todo input{
    margin: 0 30px;
}
.todo span{
    font-family: "Comfortaa", cursive;
    margin: 0 30px;
    cursor: pointer;
}
.todo p{
    cursor: pointer;
    margin: 0;
}
.todo_change_btn{
    padding: 0;
    border: 1px solid white;
    cursor: pointer;
}
.todo_change_btn:active{
    padding: 0;
    border: 5px solid black;
}